@import "../../mixins";

.attendanceRecords {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
}

.add-attendanceRecord {
  width: 100%;
  max-width: 100%;
  @include d-flex(row, space-between, center);
  gap: 1rem;
  * {
    color: var(--text-color1);
    border-color: var(--text-color2);
  }
}
