@import "../../mixins";

.navbar {
  @include d-flex(row, space-between, center);
  color: #fff;
  background-color: rgb(50, 57, 100);
  width: 100%;
  height: 60px;
  padding: 0 2rem;

  .brand {
    flex: 1;
  }
  .menu {
    ul {
      @include d-flex(row, flex-start, center);
      gap: 1rem;

      li {
        a {
          color: white;
          cursor: pointer;
        }
      }
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .toggle {
    margin-left: 1rem;
    cursor: pointer;
    svg {
      color: var(--blue);
    }
  }
}

//for responsive mobile
@media (max-width: 650px) {
  .navbar {
    padding: 0 1.2rem;

    .menu {
      @include d-flex(column, flex-start, center);
      gap: 1rem;
      color: #fff;
      background-color: rgb(50, 57, 100);
      width: 240px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: -230px;
      z-index: 100;
      transition: all 0.3s ease-in-out;
      &.open {
        left: 0;
      }
      ul {
        @include d-flex(column, center, center);
        gap: 2rem;
        height: 100%;
        li {
          a {
            color: white;
            cursor: pointer;
          }
        }
      }
    }
    .hamburger {
      display: block;
    }
  }
}
