@import "../../mixins";

.employees {
  .heading {
    @include d-flex(row, space-between, center);
    width: 100%;
  }
}

.add-employee {
  width: 90%;
  max-width: 100%;
  @include d-flex(column, flex-start, center);
  gap: 3rem;
  * {
    color: var(--text-color1);
    border-color: var(--text-color2);
  }
}
